@import "../../../styles/breakpoints";

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacingL);
  width: 100%;

  &Rooms {
    display: grid;
    width: 100%;
  }
}

@include responsive("tablet") {
  .homePage {
    &Rooms {
      width: 80%;
    }
  }
}
