@import "../../../styles/breakpoints";

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacingL);
  width: 100%;

  &Rooms {
    display: grid;
    width: 100%;

    &Spinner {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &Day {
    z-index: 1;
    font-weight: bold;
  }
}

@include responsive("tablet") {
  .homePage {
    width: 80%;
  }
}
