$mobile-landscape: 480px;
$tablet: 768px;
$desktop: 1024px;

$breakpoints: (
  "mobileLandscape": (
    min-width: $mobile-landscape,
  ),
  "tablet": (
    min-width: $tablet,
  ),
  "desktop": (
    min-width: $desktop,
  ),
);

@mixin responsive($size) {
  $min-width: if(
    map-has-key($breakpoints, $size),
    map-get(map-get($breakpoints, $size), "min-width"),
    $size
  );

  @media (min-width: #{$min-width}) {
    @content;
  }
}
