:root {
  --color-primary: var(--cinema-palette-primary-main);
  --color-on-primary: var(--cinema-palette-primary-contrastText);
  // --color-primary-container: var(--md-sys-color-primary-container-light);
  // --color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  // --color-secondary: var(--md-sys-color-secondary-light);
  // --color-on-secondary: var(--md-sys-color-on-secondary-light);
  // --color-secondary-container: var(--md-sys-color-secondary-container-light);
  // --color-on-secondary-container: var(
  //   --md-sys-color-on-secondary-container-light
  // );
  // --color-tertiary: var(--md-sys-color-tertiary-light);
  // --color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  // --color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  // --color-on-tertiary-container: var(
  //   --md-sys-color-on-tertiary-container-light
  // );
  // --color-error: var(--md-sys-color-error-light);
  // --color-error-container: var(--md-sys-color-error-container-light);
  // --color-on-error: var(--md-sys-color-on-error-light);
  // --color-on-error-container: var(--md-sys-color-on-error-container-light);
  --color-background: var(--cinema-palette-common-background);
  --color-on-background: var(--cinema-palette-common-onBackground);
  // --color-surface: var(--md-sys-color-surface-light);
  // --color-on-surface: var(--md-sys-color-on-surface-light);
  // --color-surface-variant: var(--md-sys-color-surface-variant-light);
  // --color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  // --color-outline: var(--md-sys-color-outline-light);
  // --color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  // --color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  // --color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  // --color-shadow: var(--md-sys-color-shadow-light);
  // --color-surface-tint: var(--md-sys-color-surface-tint-light);
  // --color-outline-variant: var(--md-sys-color-outline-variant-light);
  // --color-scrim: var(--md-sys-color-scrim-light);

  --spacingS: 0.5rem;
  --spacingM: 1rem;
  --spacingL: 2rem;
  --spacingXL: 4rem;
}

/*
--cinema-palette-common-black: #000;
  --cinema-palette-common-white: #fff;
  --cinema-palette-common-background: #000;
  --cinema-palette-common-onBackground: #fff;
  --cinema-palette-common-backgroundChannel: 0 0 0;
  --cinema-palette-common-onBackgroundChannel: 255 255 255;
  --cinema-palette-primary-main: #90caf9;
  --cinema-palette-primary-light: #e3f2fd;
  --cinema-palette-primary-dark: #42a5f5;
  --cinema-palette-primary-contrastText: rgba(0, 0, 0, 0.87);
  --cinema-palette-primary-mainChannel: 144 202 249;
  --cinema-palette-primary-lightChannel: 227 242 253;
  --cinema-palette-primary-darkChannel: 66 165 245;
  --cinema-palette-primary-contrastTextChannel: 0 0 0;
  --cinema-palette-secondary-main: #ce93d8;
  --cinema-palette-secondary-light: #f3e5f5;
  --cinema-palette-secondary-dark: #ab47bc;
  --cinema-palette-secondary-contrastText: rgba(0, 0, 0, 0.87);
  --cinema-palette-secondary-mainChannel: 206 147 216;
  --cinema-palette-secondary-lightChannel: 243 229 245;
  --cinema-palette-secondary-darkChannel: 171 71 188;
  --cinema-palette-secondary-contrastTextChannel: 0 0 0;
  --cinema-palette-error-main: #f44336;
  --cinema-palette-error-light: #e57373;
  --cinema-palette-error-dark: #d32f2f;
  --cinema-palette-error-contrastText: #fff;
  --cinema-palette-error-mainChannel: 244 67 54;
  --cinema-palette-error-lightChannel: 229 115 115;
  --cinema-palette-error-darkChannel: 211 47 47;
  --cinema-palette-error-contrastTextChannel: 255 255 255;
  --cinema-palette-warning-main: #ffa726;
  --cinema-palette-warning-light: #ffb74d;
  --cinema-palette-warning-dark: #f57c00;
  --cinema-palette-warning-contrastText: rgba(0, 0, 0, 0.87);
  --cinema-palette-warning-mainChannel: 255 167 38;
  --cinema-palette-warning-lightChannel: 255 183 77;
  --cinema-palette-warning-darkChannel: 245 124 0;
  --cinema-palette-warning-contrastTextChannel: 0 0 0;
  --cinema-palette-info-main: #29b6f6;
  --cinema-palette-info-light: #4fc3f7;
  --cinema-palette-info-dark: #0288d1;
  --cinema-palette-info-contrastText: rgba(0, 0, 0, 0.87);
  --cinema-palette-info-mainChannel: 41 182 246;
  --cinema-palette-info-lightChannel: 79 195 247;
  --cinema-palette-info-darkChannel: 2 136 209;
  --cinema-palette-info-contrastTextChannel: 0 0 0;
  --cinema-palette-success-main: #66bb6a;
  --cinema-palette-success-light: #81c784;
  --cinema-palette-success-dark: #388e3c;
  --cinema-palette-success-contrastText: rgba(0, 0, 0, 0.87);
  --cinema-palette-success-mainChannel: 102 187 106;
  --cinema-palette-success-lightChannel: 129 199 132;
  --cinema-palette-success-darkChannel: 56 142 60;
  --cinema-palette-success-contrastTextChannel: 0 0 0;
  --cinema-palette-grey-50: #fafafa;
  --cinema-palette-grey-100: #f5f5f5;
  --cinema-palette-grey-200: #eeeeee;
  --cinema-palette-grey-300: #e0e0e0;
  --cinema-palette-grey-400: #bdbdbd;
  --cinema-palette-grey-500: #9e9e9e;
  --cinema-palette-grey-600: #757575;
  --cinema-palette-grey-700: #616161;
  --cinema-palette-grey-800: #424242;
  --cinema-palette-grey-900: #212121;
  --cinema-palette-grey-A100: #f5f5f5;
  --cinema-palette-grey-A200: #eeeeee;
  --cinema-palette-grey-A400: #bdbdbd;
  --cinema-palette-grey-A700: #616161;
  --cinema-palette-text-primary: #fff;
  --cinema-palette-text-secondary: rgba(255, 255, 255, 0.7);
  --cinema-palette-text-disabled: rgba(255, 255, 255, 0.5);
  --cinema-palette-text-icon: rgba(255, 255, 255, 0.5);
  --cinema-palette-text-primaryChannel: 255 255 255;
  --cinema-palette-text-secondaryChannel: 255 255 255;
  --cinema-palette-divider: rgba(255, 255, 255, 0.12);
  --cinema-palette-background-paper: #121212;
  --cinema-palette-background-default: #121212;
  --cinema-palette-background-defaultChannel: 18 18 18;
  --cinema-palette-background-paperChannel: 18 18 18;
  --cinema-palette-action-active: #fff;
  --cinema-palette-action-hover: rgba(255, 255, 255, 0.08);
  --cinema-palette-action-hoverOpacity: 0.08;
  --cinema-palette-action-selected: rgba(255, 255, 255, 0.16);
  --cinema-palette-action-selectedOpacity: 0.16;
  --cinema-palette-action-disabled: rgba(255, 255, 255, 0.3);
  --cinema-palette-action-disabledBackground: rgba(255, 255, 255, 0.12);
  --cinema-palette-action-disabledOpacity: 0.38;
  --cinema-palette-action-focus: rgba(255, 255, 255, 0.12);
  --cinema-palette-action-focusOpacity: 0.12;
  --cinema-palette-action-activatedOpacity: 0.24;
  --cinema-palette-action-activeChannel: 255 255 255;
  --cinema-palette-action-selectedChannel: 255 255 255;
  --cinema-palette-Alert-errorColor: rgb(244, 199, 199);
  --cinema-palette-Alert-infoColor: rgb(184, 231, 251);
  --cinema-palette-Alert-successColor: rgb(204, 232, 205);
  --cinema-palette-Alert-warningColor: rgb(255, 226, 183);
  --cinema-palette-Alert-errorFilledBg: var(--cinema-palette-error-dark, #d32f2f);
  --cinema-palette-Alert-infoFilledBg: var(--cinema-palette-info-dark, #0288d1);
  --cinema-palette-Alert-successFilledBg: var(--cinema-palette-success-dark, #388e3c);
  --cinema-palette-Alert-warningFilledBg: var(--cinema-palette-warning-dark, #f57c00);
  --cinema-palette-Alert-errorFilledColor: #fff;
  --cinema-palette-Alert-infoFilledColor: #fff;
  --cinema-palette-Alert-successFilledColor: #fff;
  --cinema-palette-Alert-warningFilledColor: rgba(0, 0, 0, 0.87);
  --cinema-palette-Alert-errorStandardBg: rgb(22, 11, 11);
  --cinema-palette-Alert-infoStandardBg: rgb(7, 19, 24);
  --cinema-palette-Alert-successStandardBg: rgb(12, 19, 13);
  --cinema-palette-Alert-warningStandardBg: rgb(25, 18, 7);
  --cinema-palette-Alert-errorIconColor: var(--cinema-palette-error-main, #f44336);
  --cinema-palette-Alert-infoIconColor: var(--cinema-palette-info-main, #29b6f6);
  --cinema-palette-Alert-successIconColor: var(--cinema-palette-success-main, #66bb6a);
  --cinema-palette-Alert-warningIconColor: var(--cinema-palette-warning-main, #ffa726);
  --cinema-palette-AppBar-defaultBg: var(--cinema-palette-grey-900, #212121);
  --cinema-palette-AppBar-darkBg: var(--cinema-palette-background-paper, #121212);
  --cinema-palette-AppBar-darkColor: var(--cinema-palette-text-primary, #fff);
  --cinema-palette-Avatar-defaultBg: var(--cinema-palette-grey-600, #757575);
  --cinema-palette-Button-inheritContainedBg: var(--cinema-palette-grey-800, #424242);
  --cinema-palette-Button-inheritContainedHoverBg: var(--cinema-palette-grey-700, #616161);
  --cinema-palette-Chip-defaultBorder: var(--cinema-palette-grey-700, #616161);
  --cinema-palette-Chip-defaultAvatarColor: var(--cinema-palette-grey-300, #e0e0e0);
  --cinema-palette-Chip-defaultIconColor: var(--cinema-palette-grey-300, #e0e0e0);
  --cinema-palette-FilledInput-bg: rgba(255, 255, 255, 0.09);
  --cinema-palette-FilledInput-hoverBg: rgba(255, 255, 255, 0.13);
  --cinema-palette-FilledInput-disabledBg: rgba(255, 255, 255, 0.12);
  --cinema-palette-LinearProgress-primaryBg: rgb(72, 101, 124);
  --cinema-palette-LinearProgress-secondaryBg: rgb(103, 73, 108);
  --cinema-palette-LinearProgress-errorBg: rgb(122, 33, 27);
  --cinema-palette-LinearProgress-infoBg: rgb(20, 91, 123);
  --cinema-palette-LinearProgress-successBg: rgb(51, 93, 53);
  --cinema-palette-LinearProgress-warningBg: rgb(127, 83, 19);
  --cinema-palette-Skeleton-bg: rgba(var(--cinema-palette-text-primaryChannel, undefined) / 0.13);
  --cinema-palette-Slider-primaryTrack: rgb(72, 101, 124);
  --cinema-palette-Slider-secondaryTrack: rgb(103, 73, 108);
  --cinema-palette-Slider-errorTrack: rgb(122, 33, 27);
  --cinema-palette-Slider-infoTrack: rgb(20, 91, 123);
  --cinema-palette-Slider-successTrack: rgb(51, 93, 53);
  --cinema-palette-Slider-warningTrack: rgb(127, 83, 19);
  --cinema-palette-SnackbarContent-bg: #121212;
  --cinema-palette-SnackbarContent-color: #fff;
  --cinema-palette-SpeedDialAction-fabHoverBg: #121212;
  --cinema-palette-StepConnector-border: var(--cinema-palette-grey-600, #757575);
  --cinema-palette-StepContent-border: var(--cinema-palette-grey-600, #757575);
  --cinema-palette-Switch-defaultColor: var(--cinema-palette-grey-300, #e0e0e0);
  --cinema-palette-Switch-defaultDisabledColor: var(--cinema-palette-grey-600, #757575);
  --cinema-palette-Switch-primaryDisabledColor: rgb(64, 90, 112);
  --cinema-palette-Switch-secondaryDisabledColor: rgb(92, 66, 97);
  --cinema-palette-Switch-errorDisabledColor: rgb(109, 30, 24);
  --cinema-palette-Switch-infoDisabledColor: rgb(18, 81, 110);
  --cinema-palette-Switch-successDisabledColor: rgb(45, 84, 47);
  --cinema-palette-Switch-warningDisabledColor: rgb(114, 75, 17);
  --cinema-palette-TableCell-border: rgba(81, 81, 81, 1);
  --cinema-palette-Tooltip-bg: rgba(97, 97, 97, 0.92);
  --cinema-palette-dividerChannel: 255 255 255;
  --cinema-opacity-inputPlaceholder: 0.5;
  --cinema-opacity-inputUnderline: 0.7;
  --cinema-opacity-switchTrackDisabled: 0.2;
  --cinema-opacity-switchTrack: 0.3;
  --cinema-overlays-1: linear-gradient(rgba(255 255 255 / 0.05), rgba(255 255 255 / 0.05));
  --cinema-overlays-2: linear-gradient(rgba(255 255 255 / 0.07), rgba(255 255 255 / 0.07));
  --cinema-overlays-3: linear-gradient(rgba(255 255 255 / 0.08), rgba(255 255 255 / 0.08));
  --cinema-overlays-4: linear-gradient(rgba(255 255 255 / 0.09), rgba(255 255 255 / 0.09));
  --cinema-overlays-5: linear-gradient(rgba(255 255 255 / 0.10), rgba(255 255 255 / 0.10));
  --cinema-overlays-6: linear-gradient(rgba(255 255 255 / 0.11), rgba(255 255 255 / 0.11));
  --cinema-overlays-7: linear-gradient(rgba(255 255 255 / 0.11), rgba(255 255 255 / 0.11));
  --cinema-overlays-8: linear-gradient(rgba(255 255 255 / 0.12), rgba(255 255 255 / 0.12));
  --cinema-overlays-9: linear-gradient(rgba(255 255 255 / 0.12), rgba(255 255 255 / 0.12));
  --cinema-overlays-10: linear-gradient(rgba(255 255 255 / 0.13), rgba(255 255 255 / 0.13));
  --cinema-overlays-11: linear-gradient(rgba(255 255 255 / 0.13), rgba(255 255 255 / 0.13));
  --cinema-overlays-12: linear-gradient(rgba(255 255 255 / 0.14), rgba(255 255 255 / 0.14));
  --cinema-overlays-13: linear-gradient(rgba(255 255 255 / 0.14), rgba(255 255 255 / 0.14));
  --cinema-overlays-14: linear-gradient(rgba(255 255 255 / 0.14), rgba(255 255 255 / 0.14));
  --cinema-overlays-15: linear-gradient(rgba(255 255 255 / 0.14), rgba(255 255 255 / 0.14));
  --cinema-overlays-16: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
  --cinema-overlays-17: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
  --cinema-overlays-18: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
  --cinema-overlays-19: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
  --cinema-overlays-20: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
  --cinema-overlays-21: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
  --cinema-overlays-22: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
  --cinema-overlays-23: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
  --cinema-overlays-24: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));

*/
